@model Nestel.TO.ViewModels.Account.AccessDeniedViewModel

@{
    ViewData["Title"] = "Доступ запрещен";
}

<h2>Доступ зпарещен</h2>

<div class="row">
    <div class="col-md-4">
        <a href="@Model.ReturnUrl">Назад</a>
    </div>
</div>