@model Nestel.TO.ViewModels.Account.IndexViewModel

@{
    ViewData["Title"] = "Список пользователей";
}

<h2>Список пользователей</h2>


<div class="row">
    <div class="col-md-4">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th style="min-width:700px">Роли</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td style="text-wrap:none">@item.Roles</td>
                        @if (Model.CanEdit)
                        {
                            <td><a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">Редатировать</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>