td {
    padding: 4px;
}

th {
    text-align: center;
    background-color: aqua;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}

div {
    color:brown;
}

